configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "";
    display-run: "";
    display-window: "";
    drun-display-format: "{name}";
    font: "monospace 12";
}

@theme "dracula"
