<settings>
  <servers>
    <!-- configure login and password for the repositories to deploy to -->
    <!-- the server information is stored in the project pom or a       -->
    <!-- parent pom. The id values match e.g. the basepom project.      -->
    <server>
      <id>releases</id>
      <username>deployment</username>
      <password>deployment</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password>deployment</password>
    </server>
  </servers>
  <profiles>
    <!-- repositories must be stored in profiles.             -->
    <!-- use a profile to store all groupon specific settings -->
    <!-- all repos in this profile use the magic 'central'and -->
    <!-- 'central-snapshot' names to override the internal    -->
    <!-- maven default settings.                              -->
    <profile>
      <id>groupon</id>

      <!-- artifact repositories. Use the content aggregation -->
      <!-- from nexus to allow access to all content          -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://nexus-dev/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>interval:180</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </repository>
        <repository>
          <id>central-snapshots</id>
          <url>http://nexus-dev/content/groups/public-snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>interval:180</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>

      <!-- plugin repositories. Use the content aggregation -->
      <!-- from nexus to allow access to all content        -->
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://nexus-dev/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>interval:180</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>central-snapshots</id>
          <url>http://nexus-dev/content/groups/public-snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>interval:180</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <!-- list the groupon profile as active. This enables the repo   -->
  <!-- settings. do not confuse with the "activeByDefault' profile -->
  <!-- (which declares a profile as the default profile when no    -->
  <!-- other profile has been activated.                           -->
  <activeProfiles>
    <activeProfile>groupon</activeProfile>
  </activeProfiles>
</settings>
